@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
  box-sizing: border-box;
}

body, h1, h4, ul, li{
  margin: 0;
  padding: 0;
}

a {
  display: block;
  color: #C0FF36;
  text-decoration: none;
}

a:hover {
  color: #C5000C;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0; rgba(0, 0, 0, 0.19);
}

body {
  margin: 0;
  background-color: #15193e;
  color: #fffefe;
  overflow-x: hidden;
  font-family: 'Work Sans', sans-serif;
}

h1, h2{
  font-family: 'Work Sans', sans-serif;
}

ul {
  padding: 0;
  padding-left: 20px;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  transition: background-color 0.5s;
}

li a:hover {
  background-color: #F50AFF;
  color: black;
}

.barra {
  width: 100vw;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
  background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.6) 60%, rgba(0,0,0,0));
}


.titulo {
  background-image: linear-gradient( to right, rgba(0,0,0,0) 15%, black 25%, black 75%, rgba(0,0,0,0) 85%);
  border-radius: 40px;
  padding: 20px;
  margin: 0;
  text-align: center;
  position: fixed;
  width: 100vw;
  top: 85vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.titulo h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3vw;
  font-weight: 600;
}

.video {
  position: static;
  top: 0;
  overflow: hidden;
  margin-top: -40px;
  padding: 0;
  width: 100vw;
  height: 100vh;
  filter: contrast(130%);
}

.video img {
  filter: saturate(30%);
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.caraBio {
  margin: 0;
  margin-top: 5px;
  position: relative;
  float: left;
  background-color: black;
  width: 14vw;
  height: 14vw;
  border-radius: 100%;
  overflow: hidden;
}

.sombra {
  background-image: radial-gradient(circle at center center,  rgba(255, 0, 0, 0) 0%, black 100%);
  margin: 0;
  width: 14vw;
  height: 14vw;
}

#fondo {
  position: static;
  width: 40vw;
  height: 30vw;
  margin-top: -8vw;
  margin-left: -2vw;
}

#cara {
  position: absolute;
  width: 15vw;
  border-radius: 100%;
  left: -0.5vw;
  top: 3.2vw;
}

.biografia {
  float: left;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 90%);
  height: 15vw;
}

.biografia p {
  margin-left: 300px;
  transform: translate(0%,100%);
  font-size: 1.2vw;
}

.biografia img {
  position: absolute;
}

.biografia::after {
  clear: both;
  margin: 0;
  padding: 0;
}

.tienda {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 15.5vw;
  background-color: black;
  height: 13.5vw;
  overflow: hidden;
}

.card {
  font-size: 0.85vw;
  float: left;
  color: black;
  margin: 0.5vw;
  margin-left: 1vw;
  background-color: #0CB7F2;
  border: 2px solid white;
  width: 31vw;
  height: 12.5vw;
  border-radius: 2vw;
  text-align: center;
  overflow: hidden;
}

.card h1 {
  margin-top: 1vw;
}
.card p {
  margin: 1vw;
}
.card button {
  border: 0;
  color: white;
  background-color: black;
  border-radius: 1vw;
  width: 10vw;
  height: 2vw;
}

.card button:hover {
  background-color: #444444;
}

.newsletter {
  background-color: black;
  margin-top: 1vw;
  width: 100vw;
  height: 12vw;
  text-align: center;
  overflow: hidden;
  font-size: 0.85vw;
}

.newsletter h1 {
  margin-top: 1vw;
}
.newsletter input[type=text] {
  width: 50vw;
  height: 2vw;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.newsletter input[type=submit] {
  background-color: black;
  border: 1px solid blue;
  color: white;
  width: 50vw;
  height: 2vw;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.newsletter input[type=submit]:hover {
  background-color: #444444;
}

.pie {
  font-size: 0.85vw;
  overflow: hidden;
  background-color: black;
  margin-top: 1vw;
  width: 100vw;
  height: 5.5vw;
  text-align: center;
}

.pie a {
  float: right;
  margin: 0;
  padding: 0;
  color: green;
  text-decoration: none;
}

.pie a:hover {
  color: yellow;
  box-shadow: none;
}

.pie p {
  font-size: 0.85vw;
  width: 9vw;
  position: absolute;
  margin-top: -2vw;
  right: 2vw;
}
