@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;700&family=Open+Sans:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #15193e;
  color: #fffefe;
  font-family: 'Open Sans', sans-serif;
  padding-left: 24px;
  padding-right: 24px;
  overflow-x: hidden;
}

a {
  color: #C0FF36;
}

a:hover {
  color: #C5000C;
}

dd {
  color: #6f879a;
}

dt {
  font-size: 120%;
}

h1, h2, dt {
  font-family: 'Alegreya Sans SC', sans-serif;
}

dl {
  margin: 0;
  padding: 0;
}

dt a {
  display: inline-block;
}

img {
  width: 100%;
  height: auto;
  border: 2px solid blue;
  border-radius: 10px;
}

.nav {
  margin-bottom: 24px;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  position: relative;
  width: 100vw;
  height: 9.1vh;
  right: 24px;
  background-color: #16171B;
}

.nav h1 {
  font-size: 3.5vh;
}

.card {
  background-color: #0a0c1f;
  padding: 24px;
}

.lad {
  float: left;
  width: 25%;
  padding-left: 24px;
  padding-right: 24px;
}

.med {
  float: left;
  background-color: #0a0c1f;
  width: 50%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.fil::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 800px) {
  .nav {
    margin-bottom: 0px;
  }
  .med, .lad {
    margin-top: 24px;
    width: 100%;
  }
}
